.sign-in{
    width: 390px;
    display: flex;
    flex-direction: column;
    .title{
        margin: 10px;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 25px;
        height: 25px;
        position: relative;
        top: 7px;
    }
}